html,
body {
  margin: 0;
}

.app {
  width: 100%;
  height: 100dvh;
  background: #f5f5f7;
}

.panel {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 300px;
  user-select: none;
}

.logo {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 600;
}

.divider {
  height: 1px;
  margin: 20px 0;
  background: rgba(0, 0, 0, .1);
}

.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button img {
  width: 20px;
  height: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.line {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
  margin-top: 10px;
}

.line .lg-backdrop-surface {
  border-radius: 15px !important;
}

.line .selected {
  transform: translateY(1.5px) scale(0.985);
}

.line .selected .lg-backdrop-surface {
  box-shadow:
    var(--glass-surface-shadow-active),
    0 0 0 2px var(--line-color),
    0 0 10px var(--line-color),
    0 0 20px var(--line-color),
    0 0 30px var(--line-color) !important;
}

.line .lg-button .lg-content {
  color: var(--line-text-color) !important;
  font-size: 20px !important;
}